@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */

@font-face {
  font-family: "NewEleganceCondltaFont";
  src: url("../font/TheNewElegance-CondIta.otf") format("opentype");
}

@font-face {
  font-family: "NewEleganceCondensedFont";
  src: url("../font/TheNewElegance-Regular.otf") format("opentype");
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;

  /* color */

  /* font family */

  --newEleganceCondltaFont: "NewEleganceCondltaFont";
  --newEleganceCondensed: "NewEleganceCondensedFont";

  /* font size */

  --logoFontSize: calc(0.9rem + 1vw);
  --navbarFontSize: calc(0.5rem + 1vw);
}

/* default setting */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* component style */

.section-minscreen {
  @apply relative w-screen min-h-screen;
}

.section-without-minscreen {
  @apply relative w-screen min-h-screen;
}
