@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */

@font-face {
  font-family: 'DrukBoldTrial';
  src: url('../font/Druk-Bold-Trial.otf') format('truetype');
}

@font-face {
  font-family: 'DrukMediumTrial';
  src: url('../font/Druk-Medium-Trial.otf') format('truetype');
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;

  /* color */

  /* font size */

  --logoFontSize: calc(0.9rem + 1vw);
  --navbarFontSize: calc(0.5rem + 1vw);
}

/* default setting */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
